spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        default_batch_fetch_size: 100
    open-in-view: false

cloud:
  aws:
    region: ap-northeast-2
    bucket: ktb-community-images

server:
  servlet:
    session:
      timeout: 30m
      cookie:
        http-only: true
        same-site: lax

logging:
  level:
    com.jinyshin.ktbcommunity: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
  packages-to-scan: com.jinyshin.ktbcommunity